%header.tape.flex
  .chaptername.right Preprocessors
  .chapter.flex Chapter 7
  
%main.leaf.flex
  .inner

    %p
      For example, this 
      %a{ href: "https://github.com/marvindanig/bookiza.book", rel: "nofollow noopener noreferrer" } 
        book 
      itself uses HAML and SCSS instead of plain html and css.
    %p
      The Bookiza 
      %span.monospace generators
      and 
      %span.monospace renderers
      will use the appropriate templating engine (or preprocessor) according to the mode provided on 
      %em all 
      the pages of the book including layout. 
    
    .notice
      %strong> Note: 
      By default Bookiza uses the standard building blocks of the web i.e. HTML, CSS and JavaScript to avoid burden of fancy configurability. This is done on purpose since the output expected by the host website (
      %a{ href: "https://bubblin.io"} https://bubblin.io 
      ) and web is always going to be HTML, CSS and JavaScript. 

    %hr

