%header.tape.flex
  .chaptername.right Preprocessors
  .chapter.flex Chapter 9
  
%main.leaf.flex
  .inner
    %p combination of preprocessors within the same book with a more complicated setup (discussed elsewhere). 
    .notice
      %p
        Note: By default Bookiza is configured for the native web i.e. plain HTML, CSS and JavaScript. The output of the build is also always HTML, CSS and JavaScript no matter what preprocessor configuration or transformation logic is applied over the manuscript. 

