%header.tape.flex
  .chaptername.right Preprocessors
  .chapter.flex Chapter 9
  
%main.leaf.flex
  .inner

    %p
      For example, this 
      %a{ href: "https://github.com/marvindanig/bookiza.book", rel: "nofollow noopener noreferrer" } 
        book 
      itself uses HAML and SCSS instead of plain html and css.
    %p
      Configuring bookiza will set its 
      %span.monospace generators
      and 
      %span.monospace renderers
      to use the appropriate templating engine (or preprocessor) for all its pages and layout templates. You can also use a   
    %p combination of preprocessors within the same book with a more complicated setup (discussed elsewhere). 
    .notice
      %p
        Note: By default Bookiza is configured for the native web i.e. plain HTML, CSS and JavaScript. The output of the build is also always HTML, CSS and JavaScript no matter what preprocessor configuration or transformation logic is applied over the manuscript. 

