%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify

    %h4 Step-2 Install GIT
    
    %p
      Bookiza uses 
      %a{ href: "https://git-scm.com/book/en/v2/Getting-Started-Installing-Git", rel: "nofollow noopener noreferrer"}>
        git-scm
      to track changes on your manuscript. It is highly recommended to push all changes on your manuscript into the master repository regularly as 
      %a{href: "https://bubblin.io"} Bubblin
      , the host site, keeps only the latest edition.
    %p
      Let's install git next:
    %h5 MacOS
    %p
      If you are on a Mac it might already have Git pre-installed by Apple. To find out, open a terminal emulator and enter 
      %span.monospace 
        git --version. 
    %p
      If it is not already installed: 
      .terminal.turnoff
        %p $ brew install git

    %p
      Or you can 
      %a{ href: "http://git-scm.com/downloads" } 
        download 
      the installer, double-click the dmg and complete its installation. 
