%header.tape.flex
  .chaptername.right Registration
  .chapter.flex Chapter 4


%main.leaf.flex
  .inner.justify
    %h1 Registration
    %p 
      Bookiza must be registered to be able to publish books online. 
      It comes pre-integrated with Bubblin's RESTful POST & PATCH api so that you can publish the latest edition of your work easily with just one command: 
    .terminal.turnoff      
      %p $ bookiza publish 
    %p
      To register sign up on 
      %a{ href: "https://bubblin.io"}> Bubblin 
      and grab your 
      %span.monospace api_key 
      & Bubblin credentials to complete the registration. 
    .terminal.turnoff
      %p
        $ bookiza register      // Provide Bubblin credentials.

    .notice
      Note: Your 
      %span.monospace api_key   
      from Bubblin is a secret. Keep it safe and do not share with anyone.
