%header.tape.flex
  .chaptername.right Minefield
  .chapter.flex Chapter 10


.dragon-radar
  %label.dragon-radar-button{ for: "screen-toggle"}
    .dragon-radar-button__knob
  %input#screen-toggle{ type: "checkbox"}/
  .radar-screen
    .radar-screen__content--positions
      .current-position
      .ball-indicators
        .ball-indicator 
          %a{ href: "", class: "page" } 2
        .ball-indicator
        .ball-indicator 
          %a{ href: "", class: "page" } 3
    .radar-screen__content--tracking
      .tracking-motion
        .ball-indicator 
          %a{ href: "", class: "page"} 1424
        .tracking-line
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator
          .track-indicator