%header.tape.flex.purple
  .chaptername.right Structure
  .chapter.flex Chapter 5

%main.leaf.flex
  .inner.justify
    %h1 Structure
    %p 
      Now that Bookiza is installed on your machine it is time for the moment of truth. 
      Let’s create a fresh barebones project called 
      %em> Happy Feet
      , like so:
    .terminal.turnoff
      %p $ bookiza new happy-feet --leafs 4 --template comics

    %p Or in shortform:
    .terminal.turnoff
      %p $ b n happy-feet -l 4 -t comics
    %p
      Notice the flags 
      %span.monospace> \--leafs 
      and
      %span.monospace> \--template 
      that are passed to the
      %span.monospace new 
      command to set up your manuscript. Bookiza will initialize the project with all the dependencies, layout and leafs that were passed as options. 
    %p
      Next, Bookiza will also 
      %em 
        npm install 
      all the dependencies that your book is going to need. 
      
