%header.tape.flex
  .chaptername.right Commands
  .chapter.flex Chapter 6

%main.leaf.flex
  .inner.justify
    %p 
      Bookiza must be registered to be able to publish books online. 
    %p
      It comes pre-integrated with Bubblin's POST & PATCH API so you can publish your work online easily with just one command: 
      %span.monospace $ bookiza publish. 

    .terminal.turnoff
      %p
        $ bookiza register      ### Shortcut = $ b z  #### See $ b -h

    %p
      Whatever