%header.tape.flex.green
  .chaptername.right Installation

  .chapter.flex Chapter 3
  

%main.leaf.flex
  .inner.justify
    %h4 Linux
    %p
      Use package control to grab the appropriate 
      %a{ href: "https://nodejs.org/en/download/package-manager/"} 
        node installer 
      for your distribution of linux.

    %p
      Once node is installed on your machine check its version with 
      %span.monospace $ node -v

    %hr