%header.tape.flex
  .chapter.flex Chapter 4 
  .chaptername Registration 

%main.leaf.flex
  .inner.justify
    %h4 Manual registration

    %p
      You can also set the the 
      %span.monospace api_key 
      and user credentials manually. 
      Paste the following 
      %a{href: "https://raw.githubusercontent.com/bookiza/bookiza/master/.bookizarc"} 
        gist 
      into an arc file (.bookizarc) at the root of your system.

    .terminal.turnoff
      %p
        $ touch .bookizarc      // At the root
      %p
        $ vi .bookizarc         // Copy & paste the gist above:
    

    %p
      Complete these steps at the root of your machine:
      %ul 
        %li
          Touch a dotfile named .bookizarc (Bookiza Arc).
        %li
          Open the file in an editor and paste the gist above.
        %li
          Paste the 
          %span.monospace api_key 
          from your Bubblin Account (in /Settings) on the bookiza arc.
        %li
          Place your Bubblin username & email on the bookiza arc, save and close.

      You're all set. 

