%header.tape.flex
  .chaptername.right Installation
  .chapter.flex Chapter 3


%main.leaf.flex
  .inner.justify
    %p
      Once the installation is completed check with
      %span.monospace 
        git --version. 
      if it's installed correctly.

    .terminal.turnoff
      %p
        $ git --version 
      %p 
        git version 2.23.0
        %span.prompt 
          &nbsp;
    %p
      That's it your system is now ready to git and we are for the last and final step!
    %hr


