%header.tape.flex
  .chaptername.right Registration
  .chapter.flex Chapter 4

%main.leaf.flex
  .inner.justify
    %h1 Registration
    %p 
      Bookiza must be registered to be able to publish books online. 
    %p
      It comes pre-integrated with Bubblin's POST & PATCH API so you can publish your work online easily with just one command: 
      %span.monospace $ bookiza publish. 
    %p
      To register:

    .terminal.turnoff
      %p
        $ bookiza register      ### Shortcut = $ b z  #### See $ b -h

    %p
      Sign up on 
      %a{ href: "https://bubbl.in/about"} Bubblin 
      —a hosting platform for superbooks—to get your 
      %span.monospace api_key 
      & bubblin credentials for the registration above. 

    %p
      Note: Your Bubblin 
      %span.monospace api_key  
      is a secret. Keep it safe and do not check it in or share with anyone.
