%header.tape.flex
  .chaptername.right Installation
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify

    %h4 Install GIT
    
    %p
      Internally Bookiza utilizes 
      %a{ href: "https://git-scm.com/book/en/v2/Getting-Started-Installing-Git"} 
        git-scm  
      to hook up your manuscript to a repository. While not mandatory it is highly recommended to check-in your manuscript into a repository service like 
      %a{ href: "https://github.com" } 
        Github 
      or 
      %a{ href: "https://bitbucket.org"} 
        Bitbucket 
      and back it up. You can use any other version control software if you like. 

      %h5 Mac / El Capitan
      %p
        If you are using Mac, you may already have Git. To find out, open a terminal and enter 
        %span.monospace 
          git --version. 
        If it's not already installed: 
        .terminal.turnoff
          $ brew install git

      %p
        Or you can 
        %a{ href: "http://git-scm.com/downloads" } 
          download 
        the installer, double-click the dmg and complete its installation. 
    .terminal.turnoff
      %p
        ~/your/terminal/root$ git --version 
      %p 
        git version 2.10.1
        %span.prompt 
          &nbsp;

