%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation
  

%main.leaf.flex
  .inner.justify
    %p
      > Once node is installed check with 
      %span.monospace 
        $ node -v
    .terminal.turnoff
      %p $ node -v

    %h4
      Windows
    %p
      Download the Windows installer and run the installer (the .msi file) in the previous step. Follow the prompts in the installer, accept the license agreement, click the NEXT button to accept the default installation settings. 
    %p
      Restart your computer.

    %h4 Linux
    %p
      Use package control to grab the appropriate 
      %a{ href: "https://nodejs.org/en/download/package-manager/"} node installer 
      for your distribution of linux.

    %p
      Once node is installed on your machine check its version with 
      %span.monospace $ node -v

