%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify
    .terminal.turnoff
      %p $ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      %p $ brew update
      %p $ brew doctor
      %p $ brew install node  </p>
    %p
      Once the installation completes check the node version: 
    .terminal.turnoff
      %p $ node --version

    %h5
      Windows
    %p
      Download the Windows installer (an .msi file) and execute it. Follow the prompts shown by the installer, accept the license agreement and click the NEXT button to accept the default installation settings. 
    %p
      Restart your computer.
    
      