%header.tape.flex
  .chaptername.right Structure
  .chapter.flex Chapter 5

%main.leaf
  .inner.justify
    %p.no-indent
      the manuscript folder. In this directory you’ll see a subfolders for each page of the book, like so: 
      %span.monospace page-1
      , 
      %span.monospace page-2
      , 
      %span.monospace page-3
      … and so on
      \.
      Inside each page subfolder, you will find two component files named 
      %span.monospace> 
        body.html
      %span.monospace> 
        style.css
      that go on to compose a typical (web)page on the book. 
    %p
      You can also add javascript using a 
      %span.monospace scripts.js 
      file and a head resource using a 
      %span.monospace  head.html 
      file if so required. 
      Bookiza will combine the contents from each of these files and generate a page corresponding to the page number on your book.
    .notice
      Note that there will always be even number of pages inside the manuscript. 
      See 
      %a{ href: "https://bubblin.io/docs/concept"} why
      ?
    %p
      See chapter on Preprocessors as well.