%header.tape.flex
  .chaptername.right Afterthoughts
  .chapter.flex Chapter 8

%main.leaf
  .inner.justify
    %h1
      Afterthoughts
    %p
      With mobile becoming a dominant way for people to consume web, Bookiza brings only the most natural form of reading experience that people have loved for over a millenium: Flipping pages.
    %p
      Here are a few afterthoughts that will help you better understand how Bookiza work:
    %ol
      %li
        A book is a 
        %em 
          collection 
        of several webpages just like a website is, but the arrangement of pages on a book is an ordered stack. Pagination by splitting content into equal sized pages is a great way to optimize for linear reading direction—either forward or backwards. 
      %li
        Content that is piecemealed (chunked) and neatly stacked together (paginated) makes for better readability and better maintainability along with finer control on layout issues: i.e. presentation and cross-platform compatibility. It also significantly improves memorizability for readers.
