.leaf.flex
  .inner
    %h2 Contents
    %ul
      %li
        %a.page{ href: "7" }
          Introduction
          %span 7
      %li
        %a.page{ href: "7" }
          Setup
          %span 7
      %li
        %a.page{ href: "7" }
          Installation
          %span 7
      %li
        %a.page{ href: "7" }
          Registration
          %span 7
      %li
        %a.page{ href: "7" }
          Manuscript
          %span 7
      %li
        %a.page{ href: "7" }
          Commands
          %span 7
      %li
        %a.page{ href: "7" }
          Templates
          %span 7
      %li
        %a.page{ href: "7" }
          Definitions
          %span 7
      %li
        %a.page{ href: "7" }
          Preprocessors
          %span 7
      %li
        %a.page{ href: "7" }
          Bubblin
          %span 7
      %li
        %a.page{ href: "7" }
          Credits
          %span 7
