%header.tape.flex.orange
  .chaptername.right Introduction
  .chapter.flex Chapter 1

.leaf.flex
  .life
    .words.words-1
      %span S
      %span H
      %span O
      %span W
    .words.words-1
      %span A
      %span N
      %span D
    .words.words-1
      %span T
      %span E
      %span L
      %span L

.data
  %a{ href: "https://www.npmjs.com/package/bookiza", rel: "nofollow"}
    %img{ alt: "npm", src: "https://img.shields.io/npm/dt/bookiza?label=Installs&style=for-the-badge"}
    
