%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify
    %h1 Introduction
    %h4
      Welcome to unofficial documentation on
      %a{ href: "http://bookiza.io" }>
        Bookiza Abelone
      in shape of a Superbook.
    %p
      Bookiza is a book
      %i>
        reification
      framework for the web. It aims to cut down book writing and publishing time by half.
      By
      %strong> half,
      no less!

    %p
      Manage your manuscript smartly and bake-in all the goodness of the web into your book. Write books that work
      %a{href: "https://bubbl.in/support"}> everywhere.


    %aside.notice
      Note: Bookiza uses the terminal environment (shell) and NodeJS. If you're uncomfortable about using shell commands or uncertain about what the terminal app or NodeJS is, please consider using Bubblin's "in-browser"
      %a{ href: "https://bubbl.in/tools"}> editor
      instead.
    %p
      Here's a
      %a{ href: "https://marvindanig.wordpress.com/2016/03/17/how-to-write-a-superbook/"}>
        blogpost
      to get you started.
