%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify
    %h1 Introduction
    %p
      Welcome to 
      %a{ href: "http://bookiza.io" } Bookiza Abelone
      \, 
      the 
      %i> book reification 
      framework for the web. 
    %p
      Bookiza aims to cut down longform writing and publishing time by half. 
      By
      %strong> half,
      no less! It aims to let writers take control of the distribution. 
      Manage your manuscript smartly and bake all the goodness of the web into your book. 
    %p
      Write books that work
      %a{href: "https://bubbl.in/support"}> everywhere
      !
    .notice
      Note: Bookiza uses the terminal environment (shell) and NodeJS. If you are uncomfortable about using shell commands or uncertain about what a terminal looks like, try using Bubblin's "in-browser" 
      %a{ href: "https://bubbl.in/tools"}> book editor
      instead. 
      Here's a
      %a{ href: "https://marvindanig.wordpress.com/2016/03/17/how-to-write-a-superbook/"}>
        blogpost
      to get you started.

    %p
      This book is also available like a flat 
      %a{ href: "https://bubblin.io/bookiza/docs/"} 
        website 
