body {
  background: #444;
  overflow-x: hidden;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  will-change: transform;
  transform: translateZ(0);  
}

.words {
  color: #444;
  font-size: 0;
  line-height: 1;
  span {
    font-size: 18vw;
    display: inline-block;
    animation: move 2s ease-in-out infinite;
    &:nth-child(2) { animation-delay: 0.49s; }
    &:nth-child(3) { animation-delay: 0.99s; }
    &:nth-child(4) { animation-delay: 1.49s; }
  }
}

@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 1vw 4vw rgba(black, 0.3);
  }
  100% {
    transform: translate(33%, 0);
  }
}

* {
  box-sizing: border-box;
}
