%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

.leaf.flex
  .center
    %img{ src: "https://raw.githubusercontent.com/bookiza/bookiza.cli/master/assets/images/bookiza.png", width: "40%" }/
    %p 
      Baked with 
      %a{ href: "http://bookiza.io" } Bookiza


