%header.tape.flex.orange
  .chapter.flex Chapter 1
  .chaptername Introduction

.leaf.flex
  .center
    %img{ src: "https://raw.githubusercontent.com/bookiza/bookiza.cli/master/assets/images/bookiza.png", width: "40%" }/
    %p 
      This book was baked with 
      %a{ href: "http://bookiza.io" } Bookiza
      \.

