%header.tape.flex
  .chaptername.right Installation

  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify
    .terminal.turnoff
      %p
        $ git --version 
      %p 
        git version 2.23.0
        %span.prompt 
          &nbsp;
    %p 
      After the installation is complete configure git 
      %span.monospace 
        global user.name 
      and 
      %span.monospace 
        global user.email 
      as shown below.

    %p
      > Configure git after installation with:

    .terminal.turnoff
      %p
        $ git config --global user.name "Your Full Name"
      %p
        $ git config --global user.email "your@email.com"

    That's it. Your Mac is now ready for the last step.

    %h5 Windows
    %p.stretch-last-line
      Download the 
      %a{ href: "http://git-scm.com/download/win" }> 
        Windows Installer Package
      for Git and run the installer on your computer to open up the Git Setup wizard. Follow through 