%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify
    %p 
      After installation is complete configure git 
      %em 
        global user.name 
      and 
      %em 
        global user.email 
      as shown below.

    %p
      > Configure git after installation with:

    .terminal.turnoff
      %p
        $ git config --global user.name "Your Full Name"
      %p
        $ git config --global user.email "your@email.com"


    %h4 Windows

    %p 
      Download the 
      %a{ href: "http://git-scm.com/download/win" } 
        Windows Installer Package 
      for Git.


    %p 
      Run the installer on your computer to open Git Setup wizard and follow through all the steps to complete the installation. Once the installation has completed, open Bash.vbs inside the Git folder / Programs directory to open the command window.
    %p
      Configure your Git global user.name and Git global user.email as shown for mac users above.
