%header.tape.flex
  .chaptername.right Installation
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify

    %h4 Linux / Ubuntu

    %p 
      On Ubuntu use the apt package management system or the command line utility 
      %span.monospace apt-get 
      (or optionally the graphical user interfaces like Synaptic or Aptitude) to install Git. 

    %p 
      Upon completing installation make sure to configure Git global user.name and global user.email as shown for mac users earlier.


    %p
      To install git on Ubuntu & Fedora (Linux based) systems:
    .terminal.turnoff
      %p
        $ sudo apt-get install git  # Ubuntu/Debian 

      %p 
        $ sudo yum install git-all  # Fedora
    %p
      Check with
      %span.monospace 
        git --version. 
      if it's installed correctly.

    %h4
      Install Bookiza

    %p On your terminal run:

    .terminal.turnoff
      %p
        $ npm install bookiza -g  
