.leaf.flex
  .justify
    .lifeform
      .butterfly
        .wing
          .bit
          .bit
        .wing
          .bit
          .bit
      .shadow
    %h2.center Documentation 
    %hr/
    %h1 Bookiza

    %p.center.small
      %a.center#version{ href: "https://github.com/bookiza/bookiza.cli", rel: "nofollow noreferrer noopener" }

    %p.center
      The "book baking" tool.
    %h3.center © Marvin Danig
