%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify
    %h5
      Step-3: Install Bookiza

    %p On your terminal run:

    .terminal.turnoff
      %p
        $ npm install bookiza -g  
    %p
      The installation would take a few a minutes.

    %p 
      Bookiza is a command line utility that 
      %em> needs 
      to be installed globally. 
      Once the installation is complete, check with 
      %span.monospace $ bookiza --version.

    .terminal.turnoff
      %p
        $ bookiza --version
      %p#version
    %p
      It is possible to use the
      %span.monospace npx
      utility to execute Bookiza commands without installing the global binaries but since it takes a long time to write a book it is ideal to install to local. 

    %p
      Full vocabulary is available with:

    .terminal.turnoff
      %p
        $ bookiza --help        // Glossary

