.leaf {
  background: linear-gradient(cyan, transparent), linear-gradient(45deg, magenta, transparent), linear-gradient(-45deg, yellow, transparent);
  background-blend-mode: multiply;
  height: 100%;
  height: 100vh;
  width: 100%;
  margin: auto;
  font-family: 'Lato', serif;
  color: white;

}

.inner {
  margin: 70% auto;
  width: 100%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.large {
  font-size: 15vw;
}


a {
  color: white;
}