%header.tape.flex
  .chaptername.right Templates
  .chapter.flex Chapter 6

%main.leaf.flex
  .inner.justify
    %p.no-indent
      how the templates work under the hood. 
  
  


    .notice 
      We're accepting new templates for different kinds of books. 
      Feel free to 
      %a{ href: "https://github.com/bookiza/templates#fork-destination-box"}
        fork 
      and submit PR per following 
      %a{ href: "https://github.com/bookiza/templates#rules"}
        rules 
      for any kind of book that you may have worked on.
    %p
      Please ensure that the template you’re submitting works responsively and is supported on as many devices as possible.
    %hr