%header.tape.flex
  .chaptername.right Templates
  .chapter.flex Chapter 6

%main.leaf.flex
  .inner.justify
    %p.no-indent
      how the templates 
      %a{href: "https://bubblin.io/docs/layouts"}> work 
      under the hood. 
  
  


    .notice 
      We're accepting new templates for different kinds of books. 
      Feel free to 
      %a{ href: "https://github.com/bookiza/templates#fork-destination-box", rel: "nofollow noopener noreferrer"}>
        fork
      and submit PR per following 
      %a{ href: "https://github.com/bookiza/templates#rules", rel: "nofollow noopener noreferrer"}>
        rules
      for any kind of book that you may have worked on.
    %p
      Please ensure that the template you’re submitting works responsively and is 
      %a{ href: "https://bubblin.io/support"}> supported 
      on as many devices as possible.
    %hr