%header.tape.flex.mauve
  .chapter.flex Chapter 9
  .chaptername License

%main.leaf.flex
  .inner.justify
    %h1 License
    %h5 
      Democratic Open Source:
    %p
      %a{href: "https://www.bookiza.io/docs/blueoak"} Blue Oak Council.
    %h5 
      Commercial Use:
    %p
      Not available yet.
