%header.tape.flex
  .chapter.flex Chapter 6
  .chaptername Templates

%main.leaf.flex
  .inner.justify
    %h1 Templates
    %p 
      Bookiza comes with several pre-built  
      %a{href: "https://github.com/bookiza/templates"}> templates 
      to bootstrap your project with. 
      Choose a layout according to the type of book you are writing, like so:
    .terminal
      %p $ bookiza new civil-war --leafs 12 --template comics
    %p
      The following options can be passed to the 
      %span.monospace \--template 
      flag: 
      %ol
        %li comics, 
        %li text, 
        %li magazine, 
        %li novel, 
        %li super or 
        %li blank to initiate without layout.
    %p.stretch-last-line
      It’s always a good idea to understand how