%header.tape.flex
  .chaptername.right Manuscript
  .chapter.flex Chapter 5

%main.leaf.flex
  .inner.justify
    %h1 Manuscript
    %p 
      Now for the moment of truth. 
    %p
      To initialize a new project (book, comics, magazine or blank) with exactly '2N' number of pages pass the 
      %span.monospace 
        \--leafs 
      option with value 'N' and a template name if required. 
      Like so:
    .terminal.turnoff
      %p
        $ bookiza new MY-AWESOME-BOOK-TITLE --leafs n --template comics 


    %p
      Bookiza's 
      %span.monospace new 
      command will set up your project, bootstrap the manuscript (leafs) along with necessary configurations and apply the layout template you passed along in the options (if any). 
    %p
      Bookiza will also 
      %em 
        npm install 
      all the dependencies your project will need, 
      %em git initialize 
      the project and then seek confirmation from you to check-it into Github.
      
    %p
      Inside the manuscript/ folder you’ll find that 2N number of blank pages, the place where you’ll be spending maximum of your time writing.


