%header.tape.flex
  .chapter.flex Chapter 4 
  .chaptername Registration 

%main.leaf.flex
  .inner
    %h5 Register manually

    %p
      Bookiza can also be registered manually by setting the  
      %span.monospace api_key 
      value and user credentials on an Arc Bookiza file, like so:
    %p
      Paste the following 
      %a{href: "https://raw.githubusercontent.com/bookiza/bookiza/master/.bookizarc"} 
        gist 
      on file named 
      %span.monospace> .bookizarc 
      at the root (home directory) of your machine.

    .terminal.turnoff
      %p
        $ touch .bookizarc      // At the root
      %p
        $ vi .bookizarc         // Copy & paste the gist above:
    

    %p
      Paste the 
      %span.monospace api_key 
      , your Bubblin username (handle) and email on BookizArc and then save and close.
    %p
      💥 you're all set now. Check your client with:

    .terminal
      %p $ bookiza whoami 
    %hr

