%header.tape.flex
  .chapter.flex Chapter 6
  .chaptername Commands

%main.leaf.flex
  .inner.justify
    %h1 Commands
    %p 

    %p

    .terminal.turnoff
      %p
        $ git config --global user.name "Your Full Name"
      %p
        $ git config --global user.email "your@email.com"


    %h4 Windows

    %p 


