%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify
    %p
      The installation would take a few a minutes.

    %p 
      You'll need to install `bookiza` and `gulp` globally. Once the installation is complete, check with 
      %span.monospace $ bookiza --version.

    .terminal.turnoff
      %p
        $ bookiza --version
      0.5.x

    %p
      For glossary:

    .terminal.turnoff
      %p
        $ bookiza --help        // Glossary



    .notice 
      %p
        If for some reason you cannot upgrade to NodeJS v6.2.0 (or above) on your system, you might want to try using Bookiza 
        %em 
          as-is 
        with an older versions of node first. If it still doesn't work use 
        %span.monospace \--harmony 
        flag in the shebangs of <a href="https://github.com/bookiza/bookiza/blob/master/bin/bin.js">bin.js</a>. 

      %p 
        Read more about this 
        %a{ href: "http://stackoverflow.com/questions/28756759/how-to-start-global-npm-module-with-harmony-flag"} 
          issue 
        on Stackoverflow. 
