%header.tape.flex
  .chapter.flex Chapter 3
  .chaptername Installation

%main.leaf.flex
  .inner.justify
    %p.no-indent
      all the steps to complete the installation. Once the installation is complete, open Bash.vbs inside the 
      %span.monospace Git 
      folder under 
      %span.monospace Programs 
      directory to open the command window.
    %p
      Configure your Git user.name and user.email as 
      %a{ href: "13", class: "page"}> shown 
      for Mac users earlier.


    %h5 Ubuntu/Fedora

    %p 
      As with any other linux distro, use the package manager and the command line utility (or GUIs like Synaptic or Aptitude) to install Git. Upon installation, configure Git as shown for Mac and Windows users earlier.      
    %p
      Here are the steps to install git on Ubuntu & Fedora each:
    .terminal.turnoff
      %p
        $ sudo apt-get install git  # Ubuntu/Debian 

      %p 
        $ sudo yum install git-all  # Fedora
