body {
  font-family: 'Droid Serif', serif;
  font-size: 3vw;
  color: #2f2f2f;
  background-color: #f9f7f1;
  font-family: 'Playfair Display', serif;
  margin: 0 0;
  overflow: hidden;
  color: #444;
}

h1 {
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.5;
  margin: 1vw 0 2vw;
  padding: 0;
  color: #666;
  width: 100%;
  text-align: center;
}

p {
  margin: 3vw 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a {
  color: #0a4;
  outline: 0 none;
  text-decoration: none;
  text-rendering: optimizelegibility;
  &:focus, &:active, &:hover {
    outline: 0 none;
    color: #0af;
  }
  &:active {
    text-shadow: 0 0 1px #050;
  }
}

/* Page specific */

.leaf {
  height: 100%;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.inner {
  margin: 12% auto;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}


/* Your custom styles below */


.subhead {
  font-size:60%;
}

.head{
  font-family: 'Lato', serif;
}

.uppercase {
  text-transform: uppercase;
}

.tape {
    height: 5vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: hsla(144, 80%, 33%, 1);
    font-size: 3vw;
}

.tape div.chaptername {
  width: 80vw;
  padding: 0 2vw;
}

.tape div.chapter {
  width: 20vw;
  height: 5vh;
  background: gray;
  color: white;
}

.right {
  text-align: right;
  float:right;
}
