%header.tape.flex
  .chaptername.right Bubblin
  .chapter.flex Chapter 10

%main.leaf.flex
  .inner.justify
    %h1 Bubblin 
    %p 
      Bookiza comes pre-integrated with Bubblin's POST/PATCH API. This allows us to publish and update our works online easily with just one command: 
      %span.monospace $ bookiza publish. 
    %p
      If you registered the 
      %em bookiza client 
      earlier but do not remember your credentials then:

    .terminal.turnoff
      %p
        $ bookiza whoami      #### Shortcut = $ b w  #### See $ b -h
      
    %p
      Bubblin is a community of book lovers on the web. 
    %p
      It has several additional marketplace specific features that let you sell your books online, or edit book in real-time or withdraw/re-publish on-the-fly in case it is necessary to do so. 



