.leaf
  .inner
    %h1
      Credits

    %ul
      %li
        Adriane Payne's 
        %a{ href: "http://codepen.io/dazulu/pen/aOzqvz"}
          Butterfly 
        in CSS3.

      %li
        Chris Coyier's 
        %a{ href: "http://codepen.io/chriscoyier/pen/RRxQZg"}
          Show & Tell  
         experiment @DevCon, Denver.
