%header.tape.flex
  .chapter.flex Chapter 10
  .chaptername Credits

.leaf.flex
  .inner
    %h1
      Credits
    %p
      A heartful thanks to all the following folks who have positively impacted this book and also my life.
    %ol.small
      %li
        Adriane Payne: 
        %a{ href: "http://codepen.io/dazulu/pen/aOzqvz", rel: "nofollow noreferrer noopener" }>
          Butterfly
        in CSS3.

      %li
        Chris Coyier: 
        %a{ href: "http://codepen.io/chriscoyier/pen/RRxQZg", rel: "nofollow noreferrer noopener"}>
          Show & Tell  
        experiment.
