%header.tape.flex
  .chapter.flex Chapter 8
  .chaptername Glossary

%main.leaf.flex
  .inner.justify
    %h1 Commands
    %p 
      The full glossary of commands:
    .terminal.turnoff
      %p $ bookiza --help
    %p
      Usage: 
      %span.monospace> $ bookiza [options] [command]

    %table.small
      %tbody
        %tr
          %th Command
          %th Alias
          %th Arguments
          %th Options
        %tr
          %td new
          %td n
          %td projectName 
          %td 
            %div \--template 
            %div \--leafs
            
        %tr
          %td add
          %td a
          %td 
          %td \--leafs
        %tr
          %td insert
          %td i
          %td insertAt
          %td \--leafs
        %tr
          %td remove
          %td r
          %td removeAt 
          %td 
        %tr
          %td length
          %td l
          %td 
          %td 

    %p
      To understand why 
      %em 
        add, 
      %em
        remove 
      or 
      %em 
        insert 
      work the way they do, read the underlying
      %a{href: "https://bubbl.in/book/official-handbook-by-marvin-danig/37"}> 
        concept
      of a Superbook.