%header.tape.flex
  .chaptername.right Glossary
  .chapter.flex Chapter 8

%main.leaf.flex
  .inner
    %table.small
      %tbody
        %tr
          %th Command
          %th Alias
          %th Arguments
          %th Options
        %tr
          %td move
          %td m
          %td currentLoc newLoc
          %td 
        %tr
          %td clip
          %td c
          %td 
          %td \--leafs
        %tr
          %td publish
          %td p
          %td 
          %td \--token
        %tr
          %td server
          %td s
          %td 
          %td \--port
        %tr
          %td render
          %td x
          %td 
          %td 
        %tr
          %td register
          %td r
          %td 
          %td 
            %div \--username 
            %div \--password
        %tr
          %td whoami
          %td w
          %td 
          %td 
    %p
      Hat tip: The 
      %em> bookiza 
      keyword is mapped to alphabet `b` on your keyboard as shortcut. 🦄

