%header.tape.flex
  .chaptername.right Glossary
  .chapter.flex Chapter 8

%main.leaf.flex
  .inner
    %table.small
      %tbody
        %tr
          %th Command
          %th Alias
          %th Arguments
          %th Options/flags
        %tr
          %td move
          %td m
          %td currentLoc newLoc
          %td 

        %tr
          %td publish
          %td p
          %td 
          %td 
        %tr
          %td server
          %td s
          %td 
          %td \--port
        %tr
          %td status
          %td 
          %td  
          %td 
        %tr
          %td push
          %td 
          %td 
          %td 
        %tr
          %td Update
          %td u
          %td 
          %td 
        %tr
          %td register
          %td r
          %td 
          %td 
            %div \--username 
            %div \--password
        %tr
          %td whoami
          %td w
          %td 
          %td 
        %tr
          %td clip
          %td c
          %td 
          %td \--leafs
    %p
      Tip: The `bookiza` keyword is mapped to alphabet `b` on your keyboard as shortcut.

