<div class='dragon-radar'>
  <label class='dragon-radar-button' for='screen-toggle'>
    <div class='dragon-radar-button__knob'></div>
  </label>
  <input id='screen-toggle' type='checkbox'>
  <div class='radar-screen'>
    <div class='radar-screen__content--positions'>
      <div class='current-position'></div>
      <div class='ball-indicators'>
        <div class='ball-indicator'>2</div>
        <div class='ball-indicator'></div>
        <div class='ball-indicator'>4</div>
      </div>
    </div>
    <div class='radar-screen__content--tracking'>
      <div class='tracking-motion'>
        <div class='ball-indicator'>1</div>
        <div class='tracking-line'>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
          <div class='track-indicator'></div>
        </div>
      </div>
    </div>
  </div>
</div>