%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Setup

%main.leaf.flex
  .inner.justify
    %h1 Setup
    .subhead Updated - Friday Nov 7, 2016 - Seven leafs
    .subhead
      by 
      %span.uppercase Marvin Danig
    %h2 
      Machine
    %p 
      You'll need a computer with at least the following configuration:
    %p
      %strong 
        OS: 
      Windows 10, Linux (Ubuntu/Fedora), MacOS Sierra
    %p
      Users on Windows will also need to install a unixy-style shell interface like 
      %a{ href: "https://technet.microsoft.com/en-us/library/hh847837.aspx"} 
        Powershell, 
      %a{ href: "http://babun.github.io/"} 
        Babun, 
      %a{ href: "https://github.com/cmderdev/cmder"} 
        Cmnder 
      or 
      %a{ href: "https://www.cygwin.com/"} 
        Cygwin.  

      Mac & linux have what is called the `terminal` app or the bash or the shell. 

    %h4 Memory 
    %p Minimum 2G RAM 

    %h4 Browser
    %p 
      Google Chrome, Mozilla Firefox, Apple Safari or MS Edge. Having an older version of IE is also recommended for the purpose of 
      %em testing.
