%header.tape.flex
  .chapter.flex Chapter 2
  .chaptername Requirements

%main.leaf.flex
  .inner.justify
    %h1
      Requirements
    %p 
      You'll need a machine with at least following configuration:
    %h5 Operating System: 
    %p
      Windows 10, Linux (Ubuntu/Fedora) or MacOS Mojave.
      Users on Windows will also need to install a unixy-style shell interface like 
      %a{ href: "https://technet.microsoft.com/en-us/library/hh847837.aspx", rel: "nofollow noreferrer noopener"}> 
        Powershell
      ,
      %a{ href: "http://babun.github.io/", rel: "nofollow noreferrer noopener"}> 
        Babun
      ,
      %a{ href: "https://github.com/cmderdev/cmder", rel: "nofollow noreferrer noopener"}> Cmnder 
      or 
      %a{ href: "https://www.cygwin.com/", rel: "nofollow noreferrer noopener"} Cygwin
      \.  
    %p
      Mac & linux have what is called the 
      %a{ href: "https://en.m.wikipedia.org/wiki/Terminal_emulator", rel: "nofollow noreferrer noopener"}> terminal 
      app or the bash or the shell environment. 

    %h5 Memory: 
    %p Minimum 2G RAM.

    %h5 Browser:
    %p 
      Google Chrome, Mozilla Firefox, Brave, Apple Safari or MS Edge. 
    %hr