%header.tape.flex.purple
  .chapter.flex Chapter 5
  .chaptername Structure

%main.leaf.flex
  .inner.justify
    %h5 Layout
    %p 
      The 
      %span.monospace templates/ 
      folder is where all the book level source is placed such as the layout. Code placed inside of 
      %span.monospace templates/ 
      folder gets applied across the book on all the pages—which means this is an ideal place to choose web-fonts and apply typography from on your book.
    %p 
      Learn more about 
      %a{href: ""}> strong layout 
      templates.

    %h5 Assets

    %p 
      The 
      %span.monospace assets/ 
      folder is where all your static assets like illustrations or vendor libraries on the book will go. As a convention do not put the Cover image and the Banner art of your book in the assets folder.

    %p All resources need to be checked-in and hot-linked via rawgit or an asset hosting provider like Cloudinary (recommended). 