%header.tape.flex
  .chaptername.right Installation
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify
    %h1 Installation
    .subhead Updated - Friday Nov 7, 2016 - Seven Leafs
    .subhead
      by 
      %span.uppercase Marvin Danig
    %h4 
      Install Nodejs
    %p 
      Recommended Node v6.2.0 or above. 
    %p
      It is recommended to install the latest stable (It's FREE!) version of node (v6.2.0 as of writing this) directly from the 
      %a{ href: "https://nodejs.org/en/download/" } 
        Nodes.js® website. 
    %h4
      Mac/ El Capitan

    %p
      On Mac it is generally recommended to install nodejs with 
      %a{href: "http://brew.sh/"} 
        Homebrew 
      (Instructions on right). 
      Once your system is ready to brew, install node with 
      %span.monospace 
        $ brew install node
    .terminal.turnoff
      %p $ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      %p $ brew update
      %p $ brew doctor
      %p $ brew install node  </p>
      