%header.tape.flex.green
  .chaptername.right Installation
  .chapter.flex Chapter 3

%main.leaf.flex
  .inner.justify
    %h1 Installation
    %p Bookiza is super easy to install.
    %p The following dependencies must be installed before proceeding to install Bookiza.
    .notice
      node (>=8.11.3), gulp, shelljs, git-scm, a unixy-style shell or the terminal app and optionally hub.
    %h4 
      Step-1 Install Nodejs
    %p
      It is recommended to install the latest stable (it’s free!) version of node v8.11.3 or higher as of writing this directly from the
      %a{ href: "https://nodejs.org/en/download/" }> 
        Node®  
      website. 
    %h5
      Mac/ El Capitan

    %p.stretch-last-line
      On the mac it is generally recommended to install nodejs with 
      %a{href: "http://brew.sh/"} Homebrew
      \. 
      Once your system is ready to brew, install node like so:
