%header.tape.flex
  .chaptername.right Introduction
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %p.no-indent
      if you prefer reading that way.

    %h4 Who is this tool meant for?
    %p Professional writers, comics or magazine makers and artists—ala, people who publish longform regularly.  
    %p Using Bookiza is like app development, where the story is the app. You can call it ‘book development’ for the web, if you will. 😇
    %p
      And print delightful books on web for everyone and not just those who own a Kindle or an iPad. 
    %p
      See the current level of
      %a{ href: "https://bubblin.io/support"}> support 
      \.

    %hr