%header.tape.flex
  .chaptername.right Introduction
  .chapter.flex Chapter 1

%main.leaf.flex
  .inner.justify
    %p
      This book is also available like a flat
      %a{ href: "https://bubblin.io/bookiza/docs/"} 
        website 
      if you prefer reading that way.
