%header.tape.flex
  .chapter.flex Chapter 1
  .chaptername Introduction

%main.leaf.flex
  .inner.justify
    %h1 Introduction
    .subhead Reston, Virginia  - Friday Nov 7, 2016 - Seven Leafs
    .subhead 
      by 
      %span.uppercase 
        Marvin Danig
    %h4 
      Welcome to 
      %a{ href: "http://bookiza.io" } 
        Bookiza's 
      official documentation. 
 
    %p
      Bookiza is a 
      %i 
        book reification framework 
      that cuts down your book writing and publishing time by half. By 
      %strong 
        half, 
      no less. It lets you manage your manuscript smartly and bakes in all the goodness of the web into your book.

    %p 
      Go ahead, produce delightful books that work everywhere (See 
      %a{href: "https://bubbl.in"} 
        support 
      information) and can contain visual explanations, graphics and charts like nowhere else.


    %aside.notice
      Note: Bookiza uses the terminal environment (shell) and NodeJS. If you're uncomfortable about using shell commands or uncertain about what the terminal app or NodeJS is, please consider using Bubblin's "in-browser" 
      %a{ href: "https://bubbl.in/tools"} 
        editor 
      instead. 
    %p 
      Here's a 
      %a{ href: "https://marvindanig.wordpress.com/2016/03/17/how-to-write-a-superbook/"} 
        blogpost 
      to get you started start on the web editor.
