%header.tape.flex
  .chaptername.right Afterthoughts
  .chapter.flex Chapter 8

%main.leaf
  .inner.justify
    %h1
      Afterthought
    %p
      With mobile being a dominant way for people to consume web, Bookiza brings only the most natural form of pagination that people loved for over a millenium: silky page turns.
    %p
      Here is a premise around which Bookiza is designed:
    %ol
      %li
        Book is a
        %em>
          collection
        of webpages just like a website is but on a book pages are organized linearly on a stack/spine. Pagination by splitting content into pieces of equal size is a great way to optimize for linear reading experience.
      %li
        Paginated and piecemealed content makes for accessability, readability and maintenance along with better control on layout and engineering issues: i.e. presentation and cross-platform compatibility.

        %p Pagination also improves the ability to recall - i.e. memorization for readers.
