%header.tape.flex.purple
  .chapter.flex Chapter 5
  .chaptername Structure

%main.leaf.flex
  .inner.justify
    %p The project has the following structure:
    .terminal
      // List directories:
      %p happy-feet$ ls
      
      %p manuscript/
      %p crust/             
      %p assets/                     
      %p cover/                           
      %p templates/
      %p trash/
      %p README.md                    
      %p .bookrc
      %p gulpfile.js
      %p package.json
      %p package-lock.json 
      %p .gitignore
      %p license.txt


    %p.stretch-last-line
      Inside the 
      %span.monospace> manuscript/ 
      folder you’ll find exactly 2N number of blank pages. Now, as an author of the book—or its maker—most of your time developing the story will be spent inside
