%header.tape.flex
  .chapter.flex Chapter 9
  .chaptername Preprocessors

%main.leaf.flex
  .inner.justify
    %h1 Preprocessors
    %p 
      It is possible to customize Bookiza for convenience or to make your book stand apart from the rest. 
    %p
      Write your book using Markdown (recommended), Haml, Pug, Sass, Less, Stylus or simply plain HTML, CSS and JavaScript. You can choose different combination of preprocessors for different books and also vary the preprocessing pipeline at component or page-level.

    %h5 Configuring Bookiza:
    %ol
      %li
        Globally, using ArcBookiza mode i.e. object property on 
        %span.monospace> \.bookizarc 
        object called 
        %span.monospace> mode, 
      %li
        Locally, per Superbook, using the 
        %span.monospace> \.bookrc 
        %span.monospace> mode 
        object.
