%header.tape.flex.pink
  .chapter.flex Chapter 7
  .chaptername Preprocessors

%main.leaf.flex
  .inner.justify
    %h1 Preprocessors
    %p 
      It is possible to customize Bookiza according to your taste for convenience or to simply make your book stand apart.
      Write using Markdown (recommended), Haml, Pug, Sass, Less, Stylus or in plain HTML, CSS or JavaScript. 
    %p
      You can choose different combinations of preprocessors and set it up either globally or system-wide or per project depending on the need. 

    %h5 Configurations:
    %ol.small
      %li
        Global: Use ArcBookiza mode i.e. 
        %span.monospace> mode   
        object property on 
        %span.monospace> \.bookizarc 
        at the root of your machine. 
        
      %li
        Local: Use the 
        %span.monospace> mode 
        object property on
        %span.monospace> \.bookrc 
        at the root of your project.
