%header.tape.flex.pink
  .chapter.flex Chapter 7
  .chaptername Preprocessors

%main.leaf.flex
  .inner.justify
    %h1 Preprocessors
    %p 
      It is possible to configure Bookiza according to what you like or simply to make your book stand out. Use markdown, haml, pug, sass, less, stylus or plain HTML, CSS and JavaScript. 
    %p
      You can apply system-wide combinations of preprocessors and set up Bookiza globally or choose on per project basis depending on the need. 

    %h5 Configurations:
    %ol.small
      %li
        Global: Use ArcBookiza mode i.e. 
        %span.monospace> mode   
        object property on 
        %span.monospace> \.bookizarc 
        at the root of your machine. 
        
      %li
        Local: Use the 
        %span.monospace> mode 
        object property on
        %span.monospace> \.bookrc 
        at the root of your project.
